#container
  header
    h1 Miracles
  #summary
    p
      | Tell the world about your miracle event and let the world see your happiness from a every perspective.

  nav
    ul
      li
        a(href="#about") About
      li
        a(href="#support") Support

#content
  ul
    li#aboutimg
      img(src='img/henrysnopek.jpg')
    li#about
      p
        | Welcome to the site where miracles are shown. Of course this is only a mock-up design, with the Big-Image design. Check out some of my other designs too!
    li#support
      :markdown
        Henry Snopek

        Email | hhsnopek@gmail.com

        Website | [hhsnopek.com](http://hhsnopek.com)

